/* Below line is used for online Google font */
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
h2{
    text-align: center;
}
div.container{
    width: 540px;
    height: 610px;
    margin:0px auto;
    font-family: 'Droid Serif', serif;
    position:relative;
}
div.main{
    width: 295px;
    float: left;
    padding: 0px 60px 0px;
    box-shadow: 0 0 25px;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 15px;
}
label{
    color: #464646;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    font-weight: bold;
}
select#country,#city{
    width:100%;
    height:30px;
    font-size:16px;
    font-family:cursive;
}
select#USA,
select#AUSTRALIA,
select#FRANCE{
    display:none;
    width:100%;
    height:30px;
    font-size:16px;
    font-family:cursive;
}

button.btn {
    height: 41px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 300;
    float: left;
    border-radius: 5px;
    background-color: #00ff80;
    width: 50%;
    margin: 30px 85px;

}

